.poster {
  border-radius: 20px;
  box-shadow: 0.5rem 1rem 1rem hsl(240, 3%, 75%);
  width: 80%;
}
@media screen and (max-width: 900px) {
  .poster {
    margin: 0 auto !important;
    width: 50%;
    height: 350px;
  }
}
@media screen and (max-width: 600px) {
  .poster {
    width: 100%;
    margin-bottom: 30px;
    /* object-fit: scale-down; */
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .links {
    padding: 0.5rem 1rem;
  }
  .buttonsContainer {
    flex-direction: column;
  }
}
