.poster {
  border-radius: 20px;
  box-shadow: 4px 6px 16px hsl(0, 1%, 15%);
  width: 80%;
}
@media screen and (max-width: 900px) {
  .poster {
    margin: 0 auto !important;
    width: 50%;
    /* max-height: 350px; */
    height: auto;
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .poster {
    width: 100%;
    margin-bottom: 30px;
    height: 350px;
    /* object-fit: scale-down; */
  }
}

.genre__icons, .modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.video {
   width: 50%;
   height: 50%;
}
.container__space__around, .genres__container {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.genres__container {
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .genre__icons {
    padding: 0.5rem 1rem;
  }
  .buttons__container {
    flex-direction: column;
  }
  .video {
    width: 90%;
    height: 40%;
  }
  .container__space__around {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
                                