.imageLink {
  display: flex;
  justify-content: center;
  padding: 10% 0;
  width: 100%;
}
.logo_container {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.logo_container figure {
  height: 4rem;
  display: grid;
  place-items: center;
}
.logo_style {
  width: 2.5rem;
  height: 2.5rem;
}
