.poster__img {
  border-radius: 20px;
  height: 300px;
  max-width: 240px;
  width: 100%;
  margin-bottom: 10px;
  transition: 0.2s ease;
  /* object-fit: cover; */
  overflow: hidden;
}
.poster__img:hover {
  transform: scale(1.03);
}

.movie__links {
  max-width: 240px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}
.movie__links:hover {
  cursor: pointer;
  /* box-shadow: -5px -5px 10px hsl(0, 0%, 100%), 5px 5px 10px hsl(240, 3%, 71%); */
}
@media screen and (min-width: 300px) {
  .movie__links {
    display: flex;
    flex-direction: column;
  }
}